*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.header{
    background-color: gray;
    height: 10%;
    width: 100%;
}
.side-bar{
    background-color: cornflowerblue;
    flex:0.3
}
.content{
    background-color: darkkhaki;
    flex:1
}
.footer{
    background-color: gray;
    height: 10%;
    width: 100%;
}
.dashboard-body{
    display: flex;
    height: 80%;
    width: 100%;
}
h3{
    text-align: center;

}
